/** font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #fce3e2;
  --branding-text-color: #785d6a;
  --project-btn-color: #785d6a;
  --project-btn-text-color: #f2f2f2;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-text-color: #110002;
}

body {
  background: var(--branding-color);
  color: var(--primary-text-color);
}
h1,
h2 {
  font-family: var(--heading-font-family);
}
h2 {
  font-size: 62px;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

footer {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
.index-hero {
  padding: 160px 80px;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  text-align: center;
}

.index-hero h1 {
  line-height: 1;
  font-size: 92px;
}
.index-hero h2 {
  font-family: var(--default-font-family);
  line-height: 2;
  font-size: 24px;
  font-weight: normal;
}
.index-hero p {
  line-height: 50px;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background-color: var(--branding-color);
  color: var(--branding-text-color);
  border: 1px solid var(--project-btn-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-portfolio {
  background-color: var(--project-btn-color);
  color: var(--project-btn-text-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.bg-white {
  background-color: #997f88 !important;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0px;
    text-align: center;
  }

  .btn-portfolio {
    margin-bottom: 30px;
  }
}
