/** font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #fce3e2;
  --branding-text-color: #785d6a;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-text-color: #110002;
}

body {
  background: var(--branding-color);
  color: var(--primary-text-color);
}
h1,
h2 {
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--default-font-family);
}

.index-hero {
  padding: 160px 80px;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  text-align: center;
}

.index-hero h1 {
  line-height: 1;
  font-size: 92px;
}
.index-hero h2 {
  font-family: var(--default-font-family);
  line-height: 2;
  font-size: 24px;
  font-weight: normal;
}
.index-hero p {
  line-height: 50px;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background-color: var(--branding-color);
  color: var(--branding-text-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-portfolio {
  background-color: #785d6a;
  color: #f2f2f2;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
